.swiperImage {
    border-radius: 16px;
}

.slide {
    opacity: 0;
    transition: 1s ease;
    transform: translateX(40px);
}


.activeSlide {
    opacity: 1;
    transition-duration: 1s;
    transform: translateX(0px);
}

@media (min-width: 576px) {
    .swiperImage {
        width: 300px;
        height: 300px;
    }
}

